# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
media/
staticfiles/
*.mo

# Env files
.env

# Virtual environments
venv/
env/
ENV/
.venv/

# PyCharm
.idea/

# VS Code
.vscode/

# Mac
.DS_Store

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# coverage reports
htmlcov/
.coverage
.coverage.*

# pytest
.cache/

# celery beat
celerybeat-schedule

# pipenv
Pipfile.lock

# pyenv
.python-version
